#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: white
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-nav-wrapper {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.app-nav-glass {
  max-width: 90%;
  /* max-width: min(90%, 600px); */
}

.app-nav {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  width: 100%;
  height: 100%;
  /* Google font */
  font-size: larger;
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 110, "GRAD" 100, "ROND" 0;
}

.app-nav a {
  color: inherit;
}

.app-nav a.active {
  /* color: #646cff; */
  text-decoration: underline;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 100, "ROND" 0;
}

.contact-page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



